{% extends "base.html" %} {% block title %}Admin {% endblock title%} {% block
content %}
<!-- BEGIN: Page Main-->
<div id="main">
  <div class="row">
    <div class="content-wrapper-before gradient-shadow"></div>
    <div class="col s12">
      <div class="container">
        <table
          id="example"
          class="mdl-data-table"
          style="width: 100%; height: 10px"
        >
          <thead>
            <tr>
              <th>Data Source</th>
              <th>Daily Corpus</th>
              <th>Source Type</th>
              <th>Last Updated</th>
              <th>Download</th>
            </tr>
          </thead>
          <tbody>
            {% for x in data%}
            <tr>
              <td>{{x[0]}}</td>
              <td>{{x[1]}}</td>
              <td>{{x[2]}}</td>
              <td>{{x[3].strftime('%Y/%m/%d')}}</td>
              <td><a>txt</a> or <a> CSV </a></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        <!-- Content Area Ends -->
        <div class="content-overlay"></div>
      </div>
    </div>
  </div>
</div>
<!-- END: Page Main-->
{% endblock %}
